.header-wrapper {
  height: 100px;
  background-color: var(--white);
  box-shadow: 0px 1px 10px 0px var(--shadow);

  .header-content {
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;

    .left-section {
      display: flex;
      gap: 36px;

      .main-heading-wrapper {
        display: flex;
        align-items: center;
        gap: 8px;

        .main-heading {
          font-size: var(--hd-fnt-sz-3);
          font-weight: var(--bd-fnt-wt-rg);
        }
      }

      .categories-btn {
        width: 271px;
      }
    }

    .right-section {
      display: flex;
      gap: 25px;
      justify-content: flex-end;

      .wishlist-btn {
        width: 50px;
      }

      .cart-btn {
        width: 50px;
      }
    }
  }
}
