.header-wrapper {
  height: 100px;
  background-color: var(--white);
  box-shadow: 0px 1px 10px 0px var(--shadow);

  .header-content {
    padding: 25px 30px;
    display: flex;
    flex-direction: row;
    gap: 10px;

    .categories-btn {
      width: 271px;
    }

    .wishlist-btn {
      width: 50px;
    }

    .cart-btn {
      width: 50px;
    }
  }
}
